.filter {
    width: 300px;
    position: relative;

    @media (max-width: 768px) {
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // background-color: #f8f9fa;
        padding: 15px;
        margin-bottom: 10px;
        border-radius: 4px;

        @media (max-width: 768px) {
            margin-top: 20px;
            order: 2; // Forces about section to appear below filters
        }
    }

    .nav-bar {
        background-color: aliceblue;
        padding: 20px;
        margin: 20px 10px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 4px;

        @media (max-width: 768px) {
            order: 1; // Forces nav-bar to appear above about section
            height: auto;
            padding: 10px;
            margin: 0;
            justify-content: flex-start;
            gap: 10px;
        }

        .heading {
            font-size: 20px;
            font-weight: bold;
            margin-right: 10px;
            margin-bottom: 10px;

            @media (max-width: 768px) {
                margin-bottom: 5px;
            }
        }

        .drop-down {
            margin-top: 20px;

            @media (max-width: 768px) {
                margin-top: 5px;
                width: 100%;
                padding: 0 10px;
            }

            .filter-values {
                font-size: 16px;
                text-align: center;
                width: 100%;
                padding: 5px;
                
                @media (max-width: 768px) {
                    width: 100%;
                    min-width: 200px;
                }
            }
        }
    }
}