.header {
    position: sticky;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;

    .header-left,
    .header-right {
        flex: 1;
        text-align: center;
        padding: 10px;
        font-size: 1.2em;
        font-weight: bold;
        color: #333;
        cursor: pointer;
        transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;

        &:hover {
            color: #007bff;
            transform: scale(1.1);
        }

        &.active {
            background-color: #e0e0e0;
            font-weight: bold;
        }
    }
}

@media (max-width: 768px) {
    .header {

        .header-left,
        .header-right {
            width: 100%;
        }
    }
}